 html {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #404040;
  background: white;
} 


body{

  margin-left: 17px;
  margin-right: 17px;
}


/* @media screen and (width < 760px){ */

h1{
  margin: 0;
  padding-top:40;
}

p{
margin-top: 10;
margin-bottom: 10;

}


  pre{
    padding: 0;
    margin: 0;
  }
 
ul{
  display: flex;
  list-style-type:  none;
  column-gap: 1.5rem;
  margin-right:10%;
  padding-left: 0;
}

body{ 
  width: auto;
    height: auto
  }

  .purple{
    color:rgb(173,167,255)
  }


/* Header ---------------------------------------------- */
 
.main__container__header__big__text{
font-weight: 700;
font-size: 1.8rem;
line-height: 43px; 
}

  header{
    box-sizing: border-box;
    
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

.header__menu__logo{
  height:25px ;
  width:29px ;
}
  
.header__menu__button{
  height:16px ;
  width:24px ;
}

/* Body ---------------------------------------------- */


.main__container__body{
  height: auto;
  display: flex;
}

.main__container__header{

justify-content: center;
}

.main__container__header__text{
font-weight: 400;
font-size: 0.9rem;
line-height: 15px;

color: #404040;
}
/* Buttons ---------------------------------------------- */

.main__container__buttons{
  flex-direction: row;
  padding-top: 1.7rem;
display: flex;
}

.container__watch__button__text{
  display: flex;
  text-align: center;
  color:#ADA7FF;
  padding-top: 1.2rem;

}

.container__adopt__button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 108.54px;
height: 33.48px;
color:white;
background: #ADA7FF;
border-radius: 999px;
}

.container__watch__button{
  width: 5rem;
  height: 32px;
padding-left: 3rem;
color: #ADA7FF;
}

/* Statistics ---------------------------------------------- */

.container__statistics{
  display: flex;

}

.container__statistics__strong{
  font-weight: 650;
  font-size: 30px;
  line-height: 38px;
  color: #302B3A;
  
}

.container__statistics__text{
 font-weight: 600; 
font-size: 12px;
/* Paragraph */

color: #686868;

}

/* Footer ---------------------------------------------- */

.footer {
}

.footer__container{
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__container-rev {
  flex-direction: row-reverse;
  align-items: flex-end;
 
}

.footer__container__background {
  height: 3rem;
  width: 3rem;
  
}

.footer__container__dog {
  height: 8rem;
  width: 8rem;
}

.footer__container__photo {
  position: relative;
  
}

.footer__container__dog-image {
  height: 20vh;
  width: 20vw;
  position: absolute;
  right: 6%;
  top: 10%;
 
}

.footer__container__cat-image {
  height: 32vh;
  width: 32vw;
  position: absolute;
   top: -14%;
  right: 0%;
  left: 4%; 
} 


@media screen and (min-width: 760px){ 
  p{
    margin-top: 0;
    
  }

body{
  margin-right: 6rem;
  margin-left: 6rem;
}

header{
 
}

.main__container__header{

margin-top: 105px;

}

.header__menu__button{}

.header__menu__logo{
  width: 70px;
  height: 70px;
}

.header__menu__button{
  width: 55px;
  height: 55px;
}

.main__container__header{
max-width:600px;
margin-top: 150px;

}

.main__container__header__big__text{
  font-size: 3.6rem;
  width: 684px;
height: 87px;
font-weight: 700;
}

.main__container__header__text{
  width: 625px;
  height: 46px;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  
  color: #404040;

}

.container__adopt__button{
font-size: 18px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


width: 140px;
height: 40px;
}

.container__watch__button{
  width: 55px;
height: 55px;
}

.main__container__buttons{
  display: flex;
  flex-direction: row;
}

.container__watch__button__text{
font-size: 18px;

}
.container__statistics{
padding-top: 7rem;
}

.container__statistics__strong{
  font-size: 43px;
}

.container__statistics__text{
  font-size: 18px;
}

.footer {
  height: 43vh;
  width: 97%;
}

.footer__container{
  height: 40%;
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
  justify-content: space-between;
}

.footer__container-rev {
  
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-left:100px;
}

.footer__container__background {
  height: 8vh;
  width: 8vw;
}

.footer__container__dog{
  height: 24vh;
  width: 30vw;
}

.footer__container__photo {
  position: relative;
}

.footer__container__dog-image {
  height: 20vh;
  width: 20vw;
  position: absolute;
  right: 6%;
  top: 10%;
}

.footer__container__cat-image {
  height: 32vh;
  width: 32vw;
  position: absolute;
  top: -14%;
  right: 0%;
  left: 4%;
}

 };


