



@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

html {
  font-size: 16px/28px;
}



main, footer {
  padding: 0 12%;
}

.header {
  height: 180vh;
  position: relative;
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),
  linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%),
  url(../assets/images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}




body {
  background-color: #000;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Open Sans";
}


.header-nav {
  padding: 3.4% 4.4%;
  justify-content: space-between;
  display: flex;
}

.logo {
  font-weight: 700;
}

.main-links {
  display: flex;
  width: 23%;
  justify-content: space-between;
}

.search-field {
  background-color: transparent;
  border: none;
  width: 50px;
}

.header-search__input {
  padding: 0 0 0 30px; 
  position: relative;
}



.srch-img{

max-width:13.84px;
max-height:13.84px;
}

.header-main {
  width: 60%;
  margin: 10% auto;
}

h1 {
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 5.5rem;
}



.span-block {
  display: block;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}

.carousel-image .header-content {
  justify-content: center;
}

.heading-substance {
  color: #FFC178;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 6px;
}

.scroll-link__container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.arrow-down{
  margin-left: 9px;
}


.social {
  position: absolute;
  writing-mode: vertical-lr;
  display: flex;
  gap: 15px;
  top: 0;
  padding: 25% 40px;
}

main {
  padding: 0 12%;
}

section {
  margin-bottom: 250px;
}




.with-card {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.with-card > article {
  width: 40%;
  flex-direction: row-reverse;

}


.main-text {
  padding: 27px 0;
  line-height: 1.7rem;
}

.read-more {
  color: #FBD784;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 15px;
}



h2 {
  font-size: 3.5rem;
  font-weight: 700;
}


.carousel-image {
  background-image: url(../assets/images/steps-img.png);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.carousel-image .content {
  padding-top: 50vh;
  width: 70%;
  margin: auto;
  text-align: center;
}

.carousel-image h2 {
  width: 80%;
  margin: auto;
}


.with-card > img {
  width: 40%;
  height: fit-content;
  
}

.footer__header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.footer .panel-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-two {
  font-size: 3rem;
  font-weight: 700;
}

.cta {
  background-color: #FFA343;
  padding: 20px 55px;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: 700;
}

.footer__main {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 30%;
}

.container h3 {
  font-size: 2rem;
}

.email-field {
  margin: 50px 0;
  position: relative;
}


.email-text {
 background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  line-height: 4rem;
  font-size: 1.5rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */
  
  letter-spacing: -0.204545px;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.5;
   
}

.email-field-block {
  content: "\f054";
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  color: #000;
  position: absolute;
  right: 15px;
  bottom: 0;
  background-color: #FFA343;
  height: 50px;
  width: 50px;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-columns {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.footer-column * {
  line-height: 2.7rem;
}

.footer-column h4 {
  color: #FFD1A0;
  font-size: 1.2rem;
}

.footer__social {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.pr-docs {
  display: flex;
  gap: 50px;
}

.social-footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-text {
  padding: 100px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}


.madeby{
  color:black;
}



