/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  max-height: 100vh;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
  overflow: hidden;
}

#app{
  margin-left: 162px;
  margin-right:162px;
  max-width: 1600px;
}

#content{
  /* display: flex; */
/* min-height: 100vh; */
}

header{
  }

body{
}