/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  /* font-size: calc( (100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
}

/* COMMON PAGE STYLES */

/* Phone */
 html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  /* background:linear-gradient(46deg, #FF9292 0%, #DE5150 100%); */
  color: var(--color-black);
}

p{
  margin: 0;
}

li{
  margin:0;
  padding:0;
}

#app{
  background-color: var(--color-red);
}

body {
  width: 100%;
}

span{
  margin: 0;
  padding: 0;
}

.app {
  max-width: 480px;
  margin: 0 auto;
  font-size: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.body__container-pink{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  background: linear-gradient(46deg, #FF9292 0%, #DE5150 100%);
  color: #FFF;
}

header{
  display: flex;
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  gap:10%;
 }

 button{
  border: none;
  background-color: transparent;
 }

 .line{
  width: 2px;
  height: 47px;
  opacity: 0.5;
  background: #FFF;
 }

 .circle {
  background-image: url(../assets/icons/сircle.png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:98%;
  padding: 2% 2% 0 2%;
 }

.header__nav-bar-list {
  display:none
}

.header__nav-bar__logo{
 width: 18.718vw;
 height: 7.366vh;
}

.header__button{
  padding-left: 12%;
}

.header__button-img{
  width: 9.615vw;
  height: 2.79vh;
  
}
.header__nav-bar-list.show{
 display: flex; 
 margin: 0; 
}

.header__nav-bar-icon{
  width: 1.125rem;
  height: 1.125rem;
}

.header__nav-bar-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 47px;
  background: #FFF;
  /* margin-left: 1.5rem; */
}

#hamburger.show{display: flex;}
.content{
  display: flex;
  flex-direction: column;
  column-gap: 0;
  align-items: start;
  width: 80%;
}

.content__img-headphones {
  width: 82.82%;
  height: 41.66%;
  margin: auto;
}

.content__text-1 {
  margin: 0;
  width: 84%;
  padding-top: 2%;
  font-size: 1.375rem;
  font-weight: 500;
  padding-bottom: 0%;
  line-height: 140%;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.content__text-2 {
  margin: 0;
  padding-top: 2%;
  font-size: 2.25rem;
  font-weight: 700;
  width: 84%;
  line-height: 100%;
  text-transform: uppercase;
}

.content__price-section{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.content__price {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 130%;
}
.content__line {
  display: flex;
  width: 0.125rem;
  height: 2.125rem;
  background: #FFF;
}
.content__price-discount {
  color: #FFF;
  font-size: 1.93rem;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line:line-through;
  opacity: 0.699999988079071;
}

.content__button-buy{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 62px;
  background: #FFF;
  width: 100%;
  height: 3.93rem;
  color: var(--color-red);
  font-size: 1.375rem;
  border: none;
  cursor: pointer;
}

.header__burger-menu {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-size: 20px;
  cursor: pointer; 
 } 

.slider-container{
  padding-top: 5%;
  font-size: 31px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-family:Rubik;
}

.sliderm{
}
.sliderm__button--previous{
 left: 4%;
}

.sliderm__button--next{
  right: 4%;
}
.sliderm__button--circle{
background-color: transparent;
color:var(--color-black);
}
.body__container-text{
  margin: 0 auto;
  width: 90%;
  color: #180202;
  font-family: Rubik;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
}

.body__battery-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(2,30% 70%);
  margin: 0 auto;
  width: 90%;
  height: 12%;
  margin-top: 5%;
}

.battery__container-img{
  width: 25%;
}

.features__text-1 {
  color: #180202;
  font-family: Rubik;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
}
.features__text-2 {
  color: #180202;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.features__text-3 {
  color: #FF4948;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}


.body__bluetooth-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(2,30% 70%);
  margin: 0 auto;
  width: 90%;
  height: 12%;
  margin-top: 5%;
}

.bluetooth__container-img{
  width: 25%;
}

.body__microphone-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(2,30% 70%);
  margin: 0 auto;
  width: 90%;
  height: 12%;
  margin-top: 5%;
}

.microphone__container-img{
  width: 25%;
}

.body__features-img{
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding-top: 4%;
}

.latest-product__container {  
  padding-top: 10%;
  padding-bottom: 5%;
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
}
.latest-product-text {
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  padding-bottom: 10%;
}
.rectangle {
  margin: 0 auto;
  width: 69%;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 10%;
  background: #E5F1FF;
  display: flex;
  justify-content: center;
}
.latest-product-img {
  width: 52%;
  position: absolute;
  margin-top: -35px;
  /* top:245%; */

}
.circle-2 {
  display: flex;
  position: relative;
  width: 18%;
  height: 3.8rem;
  background-color: #E5F1FF;
  border-radius: 50%;
  border: 4px solid var(--color-white);
  align-items: center;
  justify-content: center;
  bottom: 290px;
  left: 275px;
  cursor: pointer;
}


.latest-product__button{
  cursor: pointer;
  position: relative;
}

.latest-product__footer{
  display: grid;
  width: 69%;
  white-space: nowrap;
  column-gap: 15%;
  grid-template-columns: repeat(2,60% 40%);
  grid-template-rows: repeat(2,50%);
  padding-bottom: 5%;
  margin: 0 auto;
}

.latest-product__img-shopping-cart {
  
}
.latest-product__img-stars {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-left: 2px;
}

.latest-product__rating {
  grid-column: 2;
  grid-row: 1;
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  justify-self: start;
}
.latest-product__name {
  grid-column:1;
  grid-row:2;
  color: #180202;
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.latest-product__price {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 2;
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  justify-self: start;
}

 .star {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
  position: relative;
}

.star:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: linear-gradient(to bottom, rgba(221, 220, 219, 1) 0%, rgba(209, 208, 206, 1) 100%);
  z-index: 1;
}

.star,
.star:before {
  -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}

.star:hover {
  background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.star:hover:before {
  background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
}

#hide{
  display: none;
}

.get-in__container {
  width: 98%;
}
.get-in__img {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.get-in__text-main {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 85%; 
  display: flex;
  margin: 0 auto;
}
.get-in__logo {
}
.get-in__text {
  padding-left: 3%;
  color: #000;
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.get-in__list-el{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 7.5%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.get-in__line{
  width: 60%;
  height: 1px;
  margin-left: 7.5%;
  background-color:var(--color-black) ;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 17em;
  background-color: #FFF4F4;  
}
.subscribe__text-main {
  padding-top: 5%;
  margin: 0 auto;
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.subscribe__text {
  /* padding-top:1%; */
  color: #180202;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.subscribe__form {
  padding-top:4%;
  display: flex;
  flex-direction: column;
}

 form input[type="email"] {
  width: 88%;
  border-radius: 50px;
  height: 50px;
  margin: 0 auto;
  align-items:center;
  justify-content: center;
  border:none;
  text-indent:7%;
}


form input[type="submit"] {
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color:var(--color-white);
  background-color: var(--color-red);
  width: 90%;
  height:50px;
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
  cursor: pointer;
  place-items: center;
  margin: 0 auto;
  margin-top: 20px;
} 

.subscribe__label {
}

.subscribe-button{
}

.subscribe__email{
height: 30%;
}

footer{
  width: 100%;
  height: 8rem;
  display: flex;
  background-color:#E86564;
}

.footer__social-icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

#footer-circle{
  border-radius: 50px;
  display: flex;
  background-color: var(--color-white);
  height :35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* PC */
@media screen and (min-width: 768px) {
  
  ul{
   list-style: none;
  }

  li{
  }

button{
  border: none;
  background-color: transparent;
}
  .app {
    max-width: 1619px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
  }
  
  .line{
    width: 3px;
    height: 47px;
    opacity: 0.5;
    background:var(--color-white);
   }

  .body__container-pink{
  background: none;
  }

  .body__container-pink-background {
    max-height:850px;
    background: linear-gradient(46deg, #FF9292 0%, #DE5150 100%);
    }

  header{
  width: 120%;
  }

  .header__nav-bar-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin:0 auto;
    padding-right: 36.8%;
  }
  
  .header__burger-menu {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
  }

  .header__burger-menu{
    cursor: pointer;
    display: flex;
  }

  .header__button{
    display: none;
  }

  .header__burger-menu:focus{
    outline: none;
  }

  .content {
    width: 1200px;
    height: 583px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-column-gap: 95px;
  }
  
  .content__text-1 {
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 30.8px */
    letter-spacing: 2.2px;
    text-transform: uppercase;
  }
  .content__text-2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 99.17px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 99.17px */
    text-transform: uppercase;
  }
  .content__price-section {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    width: 300px;

  }
  .content__price {
    color: #FFF;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
  }
  .content__line {
    width: 2px;
    height: 57px;
  }
  .content__price-discount {
    color: #FFF;
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 43.4px */
    text-decoration-line: strikethrough;
  }

  

  .content__img-headphones {
    grid-row-start: 1;
    grid-row-end: 5;
    width: 90.73%;
    height: 100%;
    margin-right: 10%;
  }
  
  .content__button-buy{
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 62px;
    background: #FFF;
    width: 35%;
    height: 3.93rem;
    color: var(--color-red);
    font-size: 1.375rem;
    border: none;
    cursor: pointer;  
  }

  .header__button-img{
  background: #FFF;
  color: var(--color-red);
  font-size: 1.375rem;
  }
  .slider-container{
  padding-top: 15%;
  padding-bottom: 5%;
  font-family: Rubik;
  font-size: 44px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: center;
  }
  
   /* featuress */

  .body__features__container {
    display: grid;
    grid-template-columns: repeat(2,40%);
    column-gap: 10%;
    margin: 0 auto;
  }
  
  .body__features-img{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 10%;
  }

  .body__container-text {
    grid-column: 1;
    color: #180202;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
  }
  .body__battery-container {
    grid-column:1;
  }
  .circle {
  }
  .battery__container-img {
  }
  .body__battery-container-text {
  }
  .features__text-1 {
  }
  .features__text-2 {
  }
  .features__text-3 {
  }
  .body__bluetooth-container {
    grid-column: 1;
  }
  .bluetooth__container-img {
  }
  .body__bluetooth-container-text {
  }
  .body__microphone-container {
    grid-column: 1;
  }
  .microphone__container-img {
  }
  .body__microphone-container-text {
  }

  /* latest product */

  .latest-product__container {
    color: #180202;
    text-align: center;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    padding: 0;
    padding-top: 5%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    margin:0
  }
  .latest-product-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    color: #180202;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left:  0 auto;
  }

  .latest-product{
    display: grid;
    width: 1300px;
    grid-template-columns: repeat(3,1fr);
    column-gap:10%;
    grid-template-rows: repeat(4,0.3fr);
  }
  .rectangle {
    width: 90%;
    height: 270px;
    margin: 0 auto;
  }
  .latest-product-img {
    width: 11%;
  }
  .latest-product__button {
  }
  .circle-2 {
    bottom:67%;
    width: 20%;
    margin-left: 19px;
  }
  .latest-product__img-shopping-cart {
  }
  .latest-product__footer {
  }
  .latest-product__img-stars {
  }
  .star {
  }
  .latest-product__rating {
  }
  .latest-product__name {
   white-space: nowrap;
  }
  .latest-product__price {
  }
  
  .middle{
    grid-row: 4;
  }

  .up{
    grid-row: 3;
  }

  .bottom{
    grid-row: 5;
  }
 
  .first{
    grid-column-start: 1;
  }

  .second{
    grid-column-start: 2;
  }

  .third{
    grid-column-start: 3;
  }

  .pink{
    background: #FFE5EE;
  }

  .blue{
    background: #E5F1FF;
  }

  .green{
    background: #E5FFFB;
  }

  #hide{
    display: unset;
  }

  .get-in__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .get-in__img {
    width: 50%;
    margin: 0;
  }
  .get-in__text-main {
  }
  .get-in__list-el {
  }
  .get-in__logo {
  }
  .get-in__text {
  }
  .get-in__line {
  }
  
  .subscribe__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 50%;
  }
  .subscribe__text-main {
  }
  .subscribe__text {
  }
  .subscribe__form {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .subscribe-button {
    padding-top: 15em;
  }
  .footer__buttons {
  }
  .footer__button-home {
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: 140%; /* 30.8px */
  }
  .footer__button-about {
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: 140%; /* 30.8px */
  }
  .footer__button-product {
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: 140%; /* 30.8px */
  }
  .footer__social-icons {
  }
  .footer__logo-main {
  }
  .footer__logo {
  }
  
  form input[type="submit"] {
    padding: 0;
    margin: 0;
    justify-content: end;
    width: 40%;
    border-bottom-left-radius:0px;
    border-top-left-radius: 0px; /* Set the desired radius value */
    border-bottom-right-radius: 50px; 
  } 

  form input[type="email"]{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
  }

} 



