.footer__list{
    display:flex ;
    list-style-type: none;
    flex-direction: row;
    gap: 80px;
    font-size: 20px;
    font-weight: 400;
}

.footer__list-buttons{
    border: none;
    background: none;
    color:var(--color-white);
}

.footer{
    display: flex;
    align-items: end;
}